html{
    scroll-behavior: smooth;
    
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-color: white;*/
    /* background-image: url(lines.png); */
    background-repeat: no-repeat;
    background-position-x: right;
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 1%;
    position: relative;
}
.logo {
        font-size: 1.5rem;
        font-weight: bold;

        text-transform: uppercase;
        letter-spacing: 4px;

        margin: 1rem;
}
a {
    text-decoration: none;
    color: black;
}
/*****/
/*underline*/
a.left
{
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color:black;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
a.left:hover:before {
    visibility: visible;
    width: 100%;
  }
/******/

.nav-toggle {
        width: 32px;
        height: 20px;

        margin : 1rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: absolute;
        top: 3.5px;
        right: 0;
    }
.bar {
        height: 3px;
        width: 100%;

        /*background-color: white;*/
}

.nav-links {
    display: none;
    width: 100%;

    text-align: center;
    }

ul {
    list-style: none;
    background-color: rgba(0, 0, 0, 0);
    }
    
li {
    margin-block: 1rem;
    margin-inline: 2rem;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0);
    }

.nav-links.active {
    display: block;
    }

/***********************************************************************************/
/*Cusror*/
.circle {
	position: absolute;
    border: solid 1px #ccc;
	width: 109px; 
	height: 109px; 
    border-radius: 50%;  
    background-color: #FD7E40;
    z-index: 0;
}

/***********************************************************************************/
/*Title*/

.title{
    position: relative; 
    margin-top: 7%;
    margin-left: 20%;
    width: 70%;
}
h1{
    /*font-size: 5rem;*/
    font-size: 110px;
}
h1:nth-of-type(2n) {
    margin-left: 27%;
  }

/************************************************************************************/
/*boutton*/

button{
    all: unset;
    border: solid #4A7DF2 1px;
    background-color: white;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
    margin-left: 20px;
    cursor: pointer;
}
button:hover{
    background-color: #F9B125;
    color: white;
    border: black solid 1px;
    transition: ease 0.5s;
}
.boutton{
    position: relative; 
    margin-top: 12.5%;
    margin-left: 52%;
}

.decouvrir{
    font-size: 1rem;
    position: relative; top: 20%; left: 20%;
}

/**************************************************************************************/
/*line*/
/*.line{
    width: 80%;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute; right: 0px; top: 100px;
    }
.line2{
    width: 80%;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute; left: -30%; top: 120%;
    transform: rotate(90deg);
    }*/


/**************************************************************************************/
/*second page*/
.second{
    position: absolute; top: 100vh;
    width: 100%;
    height: 100%;
}

.text{
    position: relative; top: 40%; left: 28%;
    width: 50%;
}
h2{
    font-size: 3rem;
    margin-bottom: 30px;
}
.marquee-rtl {
    max-width: 85%;                      /* largeur de la fenêtre */
    margin: 1em auto 2em;
    overflow: hidden;                     /* masque tout ce qui dépasse */
    position: relative; top: 60%; left: 2.5%;
  }
/*****/
/* le bloc défilant */
.marquee-rtl > :first-child {
    display: inline-block;                /* modèle de boîte en ligne */
    padding-right: 2em;                   /* un peu d'espace pour la transition */
    padding-left: 100%;                   /* placement à droite du conteneur */
    white-space: nowrap;                  /* pas de passage à la ligne */
    animation: defilement-rtl 26s infinite linear;
  }
  .marquee-rtl > :nth-child(2) {
    display: inline-block;                /* modèle de boîte en ligne */
    padding-right: 2em;                   /* un peu d'espace pour la transition */
    padding-left: 100%;                   /* placement à droite du conteneur */
    white-space: nowrap;                  /* pas de passage à la ligne */
    animation: defilement-rtl 21s infinite linear;
  }
  .marquee-rtl > :nth-child(3) {
    display: inline-block;                /* modèle de boîte en ligne */
    padding-right: 2em;                   /* un peu d'espace pour la transition */
    padding-left: 100%;                   /* placement à droite du conteneur */
    white-space: nowrap;                  /* pas de passage à la ligne */
    animation: defilement-rtl 24s infinite linear;
  }

  @keyframes defilement-rtl {
    0% {
      transform: translate3d(0,0,0);      /* position initiale à droite */
    }
    100% {
      transform: translate3d(-100%,0,0);  /* position finale à gauche */
    }
  }
/*****/
H3{
    font-size: 7rem;
    margin-bottom: 60px;
}
H3 :nth-child(2n+0){
    font-style: italic;
    color: blue;
}

/**************************************************************************************/
/*troisième page*/
.troisieme{
    position: absolute; top: 200vh;
    width: 100%;
    height: 100%;
}
.text2{
    position: relative; top: 90%; left: 28%;
    width: 50%;
}
.equipe{
    position: relative; top: 130%; left: 20%;
}
.photos{
    max-width: 85%;
    position: relative; top: 140%; left: 10%;
    border: black 1px solid;
    display: flex;
    border-top-right-radius: 80px 80px;
}
.image {
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    width: 300px;
    height: 600px;
    }
.image:hover{
    width: 1200px;
    background-position: center;
    filter: grayscale(0%);
    transition: ease 1s;
}
/**************************************************************************************/
/*footer*/
.footer{
    position: absolute; top: 460vh;
}

/**************************************************************************************/
@media screen and (min-width: 375px) {
        .logo {
            margin-block: 1rem;
            margin-inline: 2rem;
        }

        .nav-toggle {
            margin-block: 1rem;
            margin-inline: 2rem;
        }
    }

@media screen and (min-width: 840px) {
    .navbar {
        flex-direction: row;
        align-items: center;
    }
        .nav-toggle {
            display: none;
        }

        .nav-links {
            display: block;
            width: unset;
            background-color: white;
        }
            ul {
                display: flex;
            }
}